img {
  background-size: cover;
  background-position: 50%;
}
.avatar1,
.debate1 {
  background: url(../images/face_shey.svg);
  background-size: 63px 63px;
  height: 63px;
  width: 63px;
}

.avatar2,
.debate2 {
  background: url(../images/face_mao.svg);
  background-size: 63px 63px;
  height: 63px;
  width: 63px;
}

.newsletter2 {
  background-size: cover ;  
}

@media only screen and (max-width: 576px) {
  .newsletter{

  }
}
@media only screen and (min-width: 576px) {
  .newsletter{

  }
}
@media only screen and (min-width: 768px) {
  .newsletter{

  }
}
@media only screen and (min-width: 992px) {
  .newsletter{

  }
}
@media only screen and (min-width: 1200px) {
  .newsletter{

  }
}
