#navbarContent li a::before {
  content: "   ";
  white-space: pre;
}
img.cloud-icon::after {
  display: inline-block;
  content: "   ";
  white-space: pre;
}
#navbarContent li a::after, .country::after{
  content: "  〉";
  font-weight: bolder;
  white-space: pre;
  float: right;
}

.title {
  cursor: pointer;
}

.category{
  bottom:0;
  left:0"
}

.debate1,
.debate2 {
  top: -35px;
  right: 30px
}

.debate-1-divisor {
  border-top: 4px solid #ff0000;
}

.debate-bottom-divisor {
  border-top: 4px double grey;
}

.debate-2-divisor {
  border-top: 4px solid #1c87fb;
}

.vs div {
  width: 40px;
  height: 40px;
  font: bold 14px/40px "Roboto Condensed", sans-serif;
  text-align: center;
  margin: 14px auto 18px;
}

.newsletter {
  max-width: 300px;
  margin: 0 auto 30px;
  padding: 20px;
}

.nw-n {
  line-height: 1;
}

.overlapped {
  top:10px;
  left: 100px;
}

.bg {
  background: darkred;
}

@media only screen and (min-width: 768px) {
  .sticky1,
  .sticky3 {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
  }
}
